[package]
name = "ascon-aead"
description = "Implementation of the authenticated encryption schemes Ascon-128, Ascon-128a, and Ascon-80pq"
version = "0.4.0"
authors = ["Sebastian Ramacher <sebastian.ramacher@ait.ac.at>"]
license = "MIT"
repository = "https://github.com/sebastinas/ascon-aead"
homepage = "https://github.com/sebastinas/ascon-aead"
readme = "README.md"
edition = "2021"
rust-version = "1.60"
keywords = ["AEAD", "ascon", "encryption"]
categories = ["cryptography", "no-std"]
exclude = [".github/", ".gitignore"]

[dependencies]
aead = { version = "0.5", default-features = false }
subtle = "2"
zeroize = { version = "1.5", optional = true, default-features = false, features = [
    "derive",
] }
ascon-core = { version = "0.1", path = "../ascon-core" }

[dev-dependencies]
hex = "0.4"
aead = { version = "0.5", features = ["alloc"] }
spectral = "0.6"
criterion = "0.4"
rand = { version = "0.8", default-features = false, features = [
    "std_rng",
    "getrandom",
] }

[features]
default = ["zeroize", "alloc"]
std = ["aead/std", "alloc"]
alloc = ["aead/alloc"]
heapless = ["aead/heapless"]

[[bench]]
name = "asconbenches"
harness = false
required-features = ["default", "std"]
