name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
          - beta
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    name: Test (${{matrix.toolchain}} toolchain, ${{matrix.os}})
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{matrix.toolchain}}
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: Test with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace
      - name: Test with default features
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Test with all features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features

  test-cross:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf
          - i686-unknown-linux-gnu
          - mips64el-unknown-linux-gnuabi64
          - powerpc64le-unknown-linux-gnu
          - arm-linux-androideabi
    name: Cross test for ${{matrix.target}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{matrix.target}}
      - uses: Swatinem/rust-cache@v1
      - name: Test with default features
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: test
          args: --workspace --target ${{matrix.target}}
      - name: Test with all features
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: test
          args: --workspace --all-features --target ${{matrix.target}}

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --workspace -- -D warnings
